*{
    margin: 0;
    padding: 0;
}
#image1{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 500px;
}
    #image2{
        position: absolute;
        top: 30%;
        left: 30%;
        height: 425px;
}
body{
    background-image: url("https://i1.faceprep.in/ProGrad/sky-moon-bg.png");
background-size: 100% 100%;
width: 100vw;
height: 100vh;
}
.block{
    display: block;
}
form{
    background-color: white;
    position: absolute;
    top: 15% ;
    left: 65%;
    padding: 0px 75px;
    width: 320px;
    border-radius: 5px;
}
label{
    margin: 20px 0px 4px 0px;
    font-size: 15px;
}
h1{
    text-align: center;
    width: 280px;
    font-size: 1.6em;
    margin: 20px auto;
}
#button{
display: block;
margin: 40px auto;
padding: 15px 20px ;
background-color: #ec7920;
color: white;
border-radius: 20px;
border: none;
}
.rent{
    margin-right: 10px;
}

input[type="number"],input[type="text"],select{
width: 300px;
height: 40px;
border: 1px solid black;
padding: 0px 5px ;
}